.modal.open .modal-overlay,
.modal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}

.modal {
    &-overlay {
        opacity: 0;
        z-index: -1;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);  
    }
    &-window {
        opacity: 0;
        z-index: -1;
        max-width: 530px;
        border-radius: 30px;
        background: white;
        margin: 100px auto;
    }
    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
    }
    &-body {
        max-height: 400px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        overflow: auto;
        .complaint {
            display: flex;
            flex-direction: row;
                &-choice {
                    padding-left: 16px;
                    padding-right: 16px;
                }
                &-text {
                    margin-bottom: 20px;
                }
                &-text-title {
                    margin-bottom: 5px;
                }
                &-text-subtitle {
                    color: #878787;
                }
            }
    }
    &-footer-btn {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 25px 35px 25px 35px;
    }
    &-footer-button {
        padding-left: 4px;
        padding-right: 4px;
        .btn {
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 48px;
            padding: 12px 16px 12px 16px;
            border-radius: 24px;
            border: 0;
            cursor: pointer;
            background-color: #efefef;
            &:hover {
                background-color: #ddd;
            }
            &-next {
                color: white;
                background-color: #e60023;
                &:hover {
                background-color: #ad081b;
                }
            }
        }
    }
}



